<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="hibernate.connection.password">COLEGIO</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:XE</property>
        <property name="hibernate.connection.username">COLEGIO</property>
        <property name="hibernate.default_schema">COLEGIO</property>
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
        <property name="hibernate.hbm2ddl.auto">none</property>
        <property name="hibernate.search.autoregister_listeners">true</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
     
        
        <mapping resource="tarea03/Asignaturas.hbm.xml"/>
        <mapping resource="tarea03/Evaluaciones.hbm.xml"/>
        <mapping resource="tarea03/Cursos.hbm.xml"/>
        <mapping resource="tarea03/Departamentos.hbm.xml"/>
        <mapping resource="tarea03/Alumnos.hbm.xml"/>
        <mapping resource="tarea03/Centros.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
